<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command patch:instead="*[@name='ribbon:languages']" name="ribbon:languages" type="Sitecore.Support.Shell.Framework.Commands.Ribbon.Languages, Sitecore.Support.50033.95987"/>
    </commands>
  </sitecore>
</configuration>

