<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command patch:instead="*[@name='ribbon:languages']" name="ribbon:languages" type="Sitecore.Support.Shell.Framework.Commands.Ribbon.Languages, Sitecore.Support.50033.95987"/>
    </commands>

    <sitecore.experienceeditor.speak.requests>
      <request patch:instead="*[@name='ExperienceEditor.Language.IconLabel']" name="ExperienceEditor.Language.IconLabel" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.ChangeLanguage.LanguageIconLabelRequest, Sitecore.Support.50033.95987" />
      <request patch:instead="*[@name='ExperienceEditor.Language.GetLanguageItems']" name="ExperienceEditor.Language.GetLanguageItems" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.ChangeLanguage.GetLanguages, Sitecore.Support.50033.95987" />
    </sitecore.experienceeditor.speak.requests>

  </sitecore>
</configuration>

